#body {
  width: 100vw;
  overflow-x: hidden;
}
.mainBody {
  padding: 10px;
}
.cardDiv {
  padding: 5px;
}
.productHeading {
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
hr {
  margin-bottom: 10px;
}
