* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.headerDiv {
  background: #ff9550;
  height: 3rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo {
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputbg {
  margin-left: 10px;
}
.inputDiv {
  margin-right: 20px;
}
.input {
  padding-left: 10px;
  outline: none;
}
.btn {
  margin-left: 10px;
}
.cart {
  display: flex;
  align-items: center;
  font-size: 21px;
  cursor: pointer;
  margin-left: auto;
  color: #000000;
}
.cartNum {
  background-color: #faf3e0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-bottom: 1px;
  color: #ff0000;
}
.cartImg {
  height: 35px;
}
.menu {
  margin-left: 15px;
}
.menuImg {
  height: 23px;
  margin-right: 10px;
  cursor: pointer;
}
.Hamburgerbody {
  display: flex;
  flex-direction: column;
  background-color: #ff9550;
  border-radius: 10px 10px 10px 10px;
  margin-top: 470px;
  width: 250px;
  display: none;
  z-index: 2;
  height: fit-content;
  margin-left: -260px;
}
.Navlink {
  text-decoration: none;
}
.li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #faf3e0;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0 0 10px #0000004d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.li:hover {
  color: #000000;
  transform: translateY(-5px);
  box-shadow: 0 0 10px #faf3e0;
}

@media screen and (max-width: 840px) {
  .logo {
    margin-left: 5px;
    font-size: 18px;
  }
  .inputbg {
    margin-left: 8px;
    width: 49vw;
  }
  .cart {
    display: none;
  }
  .menu {
    margin-left: 1px;
  }
  .headerDiv {
    padding: 0;
  }
}
