* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.headerDiv {
  background: #ff9550;
  height: 3rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo {
  margin-left: 10px;
  font-size: 30px;
  font: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input {
  margin-left: auto;
  position: relative;
  z-index: 1;
  margin-right: 10px;
}
.input > input {
  height: 25px;
  width: 550px;
  border: none;
  border-radius: 6px 6px 6px 6px;
  padding-left: 5px;
  margin-right: 10px;
  background-color: #faf3e0;
}
.searchbtn {
  height: 24px;
  width: 35px;
  border: none;
  border-radius: 6px 6px 6px 6px;
  margin-top: 1px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #faf3e0;
  cursor: pointer;
}
.searchImg {
  height: 13px;
}
.cart {
  display: flex;
  align-items: center;
  font-size: 21px;
  cursor: pointer;
  margin-left: auto;
  color: #000000;
}
.cartNum {
  background-color: #faf3e0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-bottom: 1px;
  color: #ff0000;
}
.cartImg {
  height: 35px;
}
.menu {
  margin-left: 15px;
}
.menuImg {
  height: 23px;
  margin-right: 10px;
  cursor: pointer;
}
.Hamburgerbody {
  display: flex;
  flex-direction: column;
  background-color: #ff9550;
  border-radius: 10px 10px 10px 10px;
  margin-top: 470px;
  width: 250px;
  display: none;
  z-index: 2;
  height: fit-content;
  margin-left: -260px;
}
.Navlink {
  text-decoration: none;
}
.li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #faf3e0;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0 0 10px #0000004d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.li:hover {
  color: #000000;
  transform: translateY(-5px);
  box-shadow: 0 0 10px #faf3e0;
}
@media screen and (max-width: 840px) {
  .logo {
    font-size: 18px;
  }
  .input > input {
    width: 135px;
  }
  .cart {
    display: none;
  }
  .headerDiv {
    padding: 0;
  }
}
