#body {
  width: 100vw;
  overflow-x: hidden;
}
.FooterPage {
  padding: 20px;
  color: black;
}
.mainH1 {
  margin-bottom: 10px;
}
.footerH1 {
  margin: 10px;
}
.icon {
  margin-left: 20px;
}
p,
h2 {
  margin: 10px;
}
.copyDiv {
  margin-top: 8px;
  padding-top: 8px;
}
