#body{
  width: 100vw;
  overflow-x: hidden;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf3e0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
  }
  .slider-container {
    overflow: hidden;
    position: relative;
    height: 230px;
  }
  .slider-wrapper {
    display: flex;
    width: 500%;
    animation: slideAnimation 8s infinite alternate ease-in-out;
  }
  .slider-wrapper img {
    width: 20%;
    height: 10%;
    object-fit: cover;
  }
  /* Keyframe animation for sliding */
  @keyframes slideAnimation {
    0%,
    16% {
      transform: translateX(0%); /* Show first image */
    }
    20%,
    36% {
      transform: translateX(-20%); /* Slide to second image */
    }
    40%,
    56% {
      transform: translateX(-40%); /* Slide to third image */
    }
    60%,
    76% {
      transform: translateX(-60%); /* Slide to fourth image */
    }
    80%,
    100% {
      transform: translateX(-80%); /* Slide to fifth image */
    }
  }